* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Smythe", sans-serif, system-ui;
    background-color: whitesmoke;
    color: #393333;
    width: 90%;
    margin: 0 auto;
}

h1 {
    font-size: 1.75rem;
}

h2 {
    font-size: 1.25rem;
}

img.logo {
    width: 50%;
    display: block;
    margin: 0 auto;
}

.menu-list {
    width: 45%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1.5em 0;
    border-bottom: 1px solid #DEDEDE;
    margin: 0 auto;
}

.menu-image {
    font-size: 5em;
}

.menu-details {
    margin-left: 1.75em;
    line-height: 1.75em;
}

.menu-details > p {
    color: #8B8B8B;
}

.add-btn {
    margin: 0 0 0 auto;
    cursor: pointer;
    border-radius: 50%;
    font-size: 1.75em;
    border: 1px solid #DEDEDE;
    background-color: whitesmoke;
    padding: .25em .5em;
    color: #393333;
}

.diner-cart {
    display: block;
    width: 45%;
    margin: 0 auto;
}

.diner-cart > h1 {
    text-align: center;
    padding: 1.5em 0;
}

span {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: .75em;
    color: #8B8B8B;
    margin: 0 auto 0 0;
    padding-left: 1em;
    cursor: pointer;
}

.cart-item {
    padding-bottom: 2em;
}

.cart-item,
.total-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.total-price {
    border-top: 2px solid #393333;
    padding-top: 2em;
}

.complete-order {
    text-align: center;
}

.complete-order > button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    font-weight: bold;
    color: whitesmoke;
    background-color: #16DB99;
    cursor: pointer;
    width: 100%;
    margin-top: 4em;
    padding: 1em;
    border: none;
    border-radius: 4px;
}

.payment-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 30%;
    text-align: center;
    background-color: white;
    border-radius: 6px;
    -webkit-box-shadow: 0px 0px 32px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 32px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 32px 16px rgba(0,0,0,0.25);
}

.payment-modal > h1 {
    padding: 1em 0;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input {
    width: 90%;
    padding: 1em;
    margin: 1em auto 2em;
    font-size: 1em;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* input[type=number] {
    -moz-appearance: textfield;
} */

input[type="submit"] {
    cursor: pointer;
    color: whitesmoke;
    background-color: #16DB99;
    border: none;
    font-weight: bold;
    font-size: 1em;
    margin-bottom: 2.5em;
    border-radius: 4px;
}

.thank-you {
    background-color: #ECFDF5;
    color: #065F46;
    padding: 2em;
    text-align: center;
    width: 45%;
    margin: 2em auto;
    border-radius: 4px;
}

.hidden {
    display: none;
}